<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>b i t s h i f t e r</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&amp;subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
  </head>
  <body>
    <div id="app" class="container-fluid text-xs-center">
      <div class="color jumbotron jumbotron-fluid">
        <p style="font-size: 4rem; line-height: 5rem" v-if="string">
          {{ string }}
        </p>
        <p style="font-size: 4rem; line-height: 5rem" v-else="!string">
          You ready to get shifted?
        </p>
      </div>
      <div>
        <p>
          <label for="string">
            Enter some text, but be warned: what is shifted cannot always be unshifted.
          </label>
        </p>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-4"></div>
        <div class="col-md-6 col-lg-4">
          <p>
            <input class="form-control form-control-lg color" 
              v-model="string"
              id="string"
              placeholder="You ready to get shifted?">
          </p>
        </div>
        <div class="col-md-3 col-lg-4"></div>
      </div>
      <div>
        <button class="btn btn-success" @click="shiftLeft"><<</button>
        <button class="btn btn-warning" @click="shiftRight">>></button>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          string: ''
        }
      },
      methods: {
        shiftLeft: function() {
          this.$emit('bitshiftLeft');
        },
        shiftRight: function() {
          this.$emit('bitshiftRight');
        }
      },
      created() {
        this.$on('bitshiftLeft', function() {
          var newStr = '';
          for (var i = this.string.length - 1; i >= 0; i--) {
            if (this.string[i] !== ' ') {
              var x = this.string.charCodeAt(i);
              x = String.fromCharCode(x << 1);
              newStr = x + newStr;
            } else {
              newStr = ' ' + newStr;
            }
          }
          this.string = newStr;
        }),
        this.$on('bitshiftRight', function() {
          var newStr = '';
          for (var i = this.string.length - 1; i >= 0; i--) {
            if (this.string[i] !== ' ') {
              var x = this.string.charCodeAt(i);
              x = String.fromCharCode(x >> 1);
              newStr = x + newStr;
            } else {
              newStr = ' ' + newStr;
            }
          }
          this.string = newStr;
        })
      }
    });
  </script>
  <style scoped>
    html { 
      background-color: #FFFDE3;
    }
    body {
      background: transparent;
      font-family: 'Noto Sans', sans-serif;
      font-size: .9rem;
      text-align: left;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 1rem;
    }
    input {
      font-family: 'Noto Sans', sans-serif;
      text-align: center;
    }
    .color {
      font-family: 'Noto Sans', sans-serif;
      background: rgba(255,253,227, 0.2); 
    }
  </style>
</html>